<div class="w-100">
  <img class="p-a t-0 l-0 w-100 h-100 b-img z-1" />
  <div class="p-a t-0 l-0 w-100 h-100 b-bk o-100 z-2"></div>
  <div class="w-100 h-100 pb-120px-N1000 pb-60px-X1000 z-3">
    <section-title-dir section="'CONTACT'"></section-title-dir>
    <map-contact-landing-dir class="w-90-N500 mt-120px-N1000 mt-30px-X1000 cen-x"></map-contact-landing-dir>
    <logo-dir class="mt-50px w-250px h-auto cen-x"></logo-dir>
    <details-contact-landing-dir class="mt-120px-N1000 mt-60px-X1000 cen-x"></details-contact-landing-dir>
  </div>
</div>
