<div class="w-100">
  <img class="p-a t-0 l-0 w-100 h-100 b-img z-1" ng-src="{{data_get.gallery_cover_image}}" />
  <div class="p-a t-0 l-0 w-100 h-100 z-2" ng-class="[{'b-bk o-50':galleryCover_hover||!edit_active}]"></div>
  <!-- Edit Cover Image -->
  <div class="p-a b-0 r-0 z-4 d-n-X500" ng-show="$root.state.current.name=='landing/admin'">
    <div class="f-r mb-30px mr-45px">
      <div class="w-110px h-40px"  ng-class="[{'o-50':!galleryCover_hover}]"
      ng-mouseenter="galleryCover_hover=true;" ng-mouseleave="galleryCover_hover=false;">
        <button class="w-100 h-100" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-multiple="false" ngf-select="changeGalleryCoverImage($file);">
          <i class="p-a l-0 f-19px lh-21px c-we ion-image"></i>
          <span class="p-a r-0 f-17px lh-21px c-we">이미지 변경</span>
        </button>
      </div>
    </div>
  </div>
  <div class="w-100 h-100 pb-120px z-3">
    <section-title-dir section="'GALLERY'"></section-title-dir>
    <images-gallery-landing-dir class="w-1800D1920M100-N1000 w-950D1024M100-N500X1000 mt-115px-N1000 mt-50px-N500X1000 mt-30px-X500 cen-x"></images-gallery-landing-dir>
  </div>
</div>
