<div class="w-100">
  <div class="w-100 h-60px cen-x">
    <div class="w-200D800M100-N1000 w-100D300M100-X1000 h-100">
      <span class="t-r w-100 pr-60px lh-24px-N1000 f-24px-N1000 lh-15px-X1000 f-15px-X1000 c-we cen-y f-sf">{{detail.name}}</span>
    </div>
    <div class="w-550D800M100-N1000 w-180D300M100-X1000 h-60px pl-30px-N1000 pl-10px-X1000" style="
    border-bottom: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;">
      <input kr-input class="w-100 lh-60px-N1000 lh-45px-X45 f-24px-N1000 f-15px-X1000 c-we cen-y" ng-model="detail.input" type="{{detail.type}}" placeholder="{{detail.placeholder}}" />
    </div>
  </div>
</div>
