<div class="w-100D2 h-140px-N1000 h-45px-X1000 bo-1px bo-we">
  <div class="w-100 d-n-X1000 cen-y">
    <icon-tab-reservation-landing-dir class="h-75px cen-x"></icon-tab-reservation-landing-dir>
    <text-tab-reservation-landing-dir></text-tab-reservation-landing-dir>
  </div>
  <div class="w-100px h-25px d-n-N1000 cen">
    <icon-tab-reservation-landing-dir class="h-25px"></icon-tab-reservation-landing-dir>
    <text-tab-reservation-landing-dir></text-tab-reservation-landing-dir>
  </div>
</div>
