<div class="w-100 h-100_101px-N1000 h-100_100px-N500X1000 cen-x" ng-class="[{'bo-1px bor-10px':($root.state.current.name=='landing/admin')}]">
  <div class="w-100 h-100 oy-a" ng-show="!($root.state.current.name=='landing/admin')">
    <span class="w-100 t-c f-15px-N500X1000 f-18px-N1000 lh-22px-N500X1000 lh-30px-N1000 p-15px c-we">{{data['room_description'+(index+1)]}}</span>
  </div>
  <textarea class="w-100 t-c h-100 f-18px-N500X1000 f-24px-N1000 lh-24px-N500X1000 lh-30px-N1000 p-15px c-we pc-E0E0E0" style="white-space:pre-line; resize:none;" placeholder="{{}}"
  ng-model="data['room_description'+(index+1)]" ng-show="$root.state.current.name=='landing/admin'"></textarea>
</div>
